@page
@model CalorieCounter.Pages.Expecteds.DetailsModel

<div class="center-screen">
@if(@Model.Expected == null)
{
    <div style="right: 25px; bottom: 25px; padding-bottom:15px" class="text-white">
            <a class="btn btn-success text-white" asp-page="Create">Add expected</a>
    </div>
}
else{
    <section class="performance-facts">
        <header class="performance-facts__header">
            <h1 class="performance-facts__title">Expected</h1>
        </header>
        <table class="performance-facts__table">
            <thead>
                <tr>
                    <th colspan="3" class="small-info">
                        Total Kcal
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th colspan="2">
                        <b>Calories</b>
                        @Model.Expected.ExpectedKcal kcal
                    </th>
                </tr>
                <tr class="thick-row">
                    <td colspan="3" class="small-info">
                        <b>% Daily Value*</b>
                    </td>
                </tr>
                <tr>
                    <th colspan="2">
                        <b>Total Fat</b>
                        @Model.Expected.ExpectedFats g
                    </th>
                </tr>
                <tr>
                    <th colspan="2">
                        <b>Total Carbohydrate</b>
                        @Model.Expected.ExpectedCarbs g
                    </th>
                </tr>
                <tr>
                    <td class="blank-cell">
                    </td>
                    <th>
                        Dietary Fiber
                        @Model.Expected.ExpectedFibers g
                    </th>
                </tr>
                <tr class="thick-end">
                    <th colspan="2">
                        <b>Protein</b>
                        @Model.Expected.ExpectedProtein g
                    </th>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>
        @if (@User.Identity.IsAuthenticated)
        {
            <div style="padding-top:10px">
            <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Expected.Id" >Edit</a>
            </div>
        }
    </section>
}
</div>
