@page
@model CalorieCounter.Pages.Expecteds.DetailsModel

@if(@Model.Expected == null)
{
    <div style="right: 25px; bottom: 25px; padding-bottom:15px" class="text-white">
            <a class="btn btn-success text-white" asp-page="Create">Add expected</a>
    </div>
}
else{
<div class="card text-center h-100">
    <div class="card-header">
        Expected Values
    </div>
    <div class="card-body">
        <p class="small">
            Id: @Model.Expected.Id
        </p>
        <p class="small">
            Kcal: @Model.Expected.ExpectedKcal
        </p>
        <p class="small">
            Protein: @Model.Expected.ExpectedProtein g
        </p>
        <p class="small">
            Carbs: @Model.Expected.ExpectedCarbs g
        </p>
        <p class="small">
            Fats: @Model.Expected.ExpectedFats g
        </p>
        <p class="small">
            Fibers: @Model.Expected.ExpectedFibers g
        </p>
            @if (@User.Identity.IsAuthenticated)
            {
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@Model.Expected.Id">Edit</a>
            }
    </div>
</div>
}
