@page
@using CalorieCounter.Data.Enums
@model CalorieCounter.Pages.FoodDashes.DetailsModel


<div class="card text-center h-100">
    <div class="columns">
   <div class="column">
    <form method="post">
        <input type="date" asp-for="FoodDash.Date" value="@Model.FoodDash.Date.AddDays(-1).ToString("yyyy-MM-dd")" hidden/>
        <input type="submit" value="Previous Day" class="btn btn-primary" />
    </form>
    </div>

    <div class="column">
        <h3>@Model.FoodDash.Date.ToString("dd/MM/yyyy") </h3>
    </div>
    <div class="column">
    <form method="post">
        <input type="date" asp-for="FoodDash.Date" value="@Model.FoodDash.Date.AddDays(1).ToString("yyyy-MM-dd")" hidden/>
        <input type="submit" value="Next Day" class="btn btn-primary" />
    </form>
    </div> 
    </div>
    </div>
    <div class="card-body">
        @foreach (var meal in Enum.GetValues(typeof(MealType)))
        {
            <div>
            <h4>@meal.ToString()</h4>
            @foreach (var food in @Model.FoodDash.Foods)
                {
                    @if(meal.Equals(food.MealTypeId))
                    {
                        <div class="alert alert-dark">
                            <h6>@food.Food.Name, @food.TotalKcalFood Kcal</h6>
                            <h7 style="font-style:italic">@food.TotalWeight grams</h7>
                            <a class="btn btn-secondary" asp-page="/FoodsToAdd/Details" asp-route-id="@food.Id">Details</a>
                            <a class="btn btn-warning" asp-page="./EditFood" asp-route-id="@food.Id">Edit</a>
                            <a class="btn btn-danger" asp-page="/FoodsToAdd/Delete" asp-route-id="@food.Id">Delete</a>
                        </div>
                    }
                }
                <a class="btn btn-secondary" asp-page="/FoodDashes/GetFoods" asp-route-dashId="@Model.FoodDash.Id">Add food</a>
            </div>
        }
        <div style="padding-top:20px">
        @if(Model.HasExpected(Model.FoodDash.ExpectedValues, Model.FoodDash))
         {
            <div class="alert alert-success">
                            <p style="font-style:italic"> You made it!</p>
                            <h6>Expected: @Model.FoodDash.TotalKcal/ @Model.FoodDash.ExpectedValues.ExpectedKcal kcal</h6> 
                            <h7>Carbs: @Model.FoodDash.TotalCarbs/ @Model.FoodDash.ExpectedValues.ExpectedCarbs g</h7>
                            <h7>Total Protein: @Model.FoodDash.TotalProtein/ @Model.FoodDash.ExpectedValues.ExpectedProtein g</h7>
                            <h7>Total Fats: @Model.FoodDash.TotalFats/ @Model.FoodDash.ExpectedValues.ExpectedFats g</h7>
                            <h7>Total Fibers: @Model.FoodDash.TotalFibers/ @Model.FoodDash.ExpectedValues.ExpectedFibers g</h7>
                            <h7 style="font-style:italic">Weight: @Model.FoodDash.TotalWeight grams g</h7>
          </div>
          }
          else
          {
            <div class="alert alert-dark">
                <h6>Expected: @Model.FoodDash.TotalKcal/ @Model.FoodDash.ExpectedValues.ExpectedKcal kcal</h6>
                <h7>Carbs: @Model.FoodDash.TotalCarbs/ @Model.FoodDash.ExpectedValues.ExpectedCarbs g</h7>
                <h7>Total Protein: @Model.FoodDash.TotalProtein/ @Model.FoodDash.ExpectedValues.ExpectedProtein g</h7>
                <h7>Total Fats: @Model.FoodDash.TotalFats/ @Model.FoodDash.ExpectedValues.ExpectedFats g</h7>
                <h7>Total Fibers: @Model.FoodDash.TotalFibers/ @Model.FoodDash.ExpectedValues.ExpectedFibers g</h7>
                <h7 style="font-style:italic">Weight: @Model.FoodDash.TotalWeight grams</h7>
             </div>
          }
          </div>
    </div>
